
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

#page {
  display: flex;
  flex-flow: row wrap;
  margin: 2px auto;
  padding: 0px;
}

.main {
  flex: 1 100%;
  border: 1px solid #999;
  padding: 2px;
  margin: 1px;
  background: #eee;
}

#mainHeader, #mainNav, #mainFooter {
  text-align: center;
}

#mainHeader h1 {
  margin: 8px;
}

#mainNav a {
  margin: 0px 5px;
}

#mainSection {
  padding: 20px;
  text-align: left;
}

input[type=text], input[type=password] {
  background-color: white;
  height: 15px;
  transition: ease-in-out, background-color .4s ease-in-out, height .4s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: yellow;
  height: 24px;
}

a {
  color: #00B7FF;
}

a.button {
  display: inline-block;
  font-size: x-small;
  text-decoration: none;
  padding: 1px 4px;
  margin: 2px;
  background: #f5f5f5;
  color: black;
  border-radius: 4px;
  border: solid 1px lightgray;
}

a.button:hover {
  background: lightgray;
}

.wideRow {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}

.wideRow .itemNarrow {
  flex: 0 auto;
  margin: 0px 5px;
}

.wideRow .itemWide {
  flex: 1 auto;
  margin: 0px 5px;
}
