
<div class="right">
    <small> (by <%= quiz.author ? quiz.author.displayName : "Anonymous" %>) </small>
</div>

<h1>
    Show Quiz:
</h1>

<div class="quizItem">

    <div>
        <% var attachment = quiz.attachment; %>
        <% include ../attachments/_show %>
    </div>

    <div>
        Question: <b><%= quiz.question %></b>
        <br />
        Answer: <b><%= quiz.answer %></b>
        <br />
        <small> by <%= quiz.author ? quiz.author.displayName : "Anonymous" %> </small>
    </div>

</div>

<a href="/goback" class="button">Go back</a>
