
<div class="right">
    <small> (by <%= quiz.author ? quiz.author.username : "Anonymous" %>) </small>
</div>

<h1>
    Show Quiz:
</h1>

<ul>
    <li>Question: <b><%= quiz.question %></b></li>
    <li>Answer: <b><%= quiz.answer %></b></li>
</ul>


<h1>
    Tips:
</h1>

<% include ../tips/_index %>

<% if (locals.loginUser) { %>
    <% include ../tips/_new %>
<% } %>


<a href="/goback" class="button">Go back</a>
